table {
  background-color: grey;
  border-collapse: collapse;
  width: 100%;
  font-weight: bolder;
}
th,
td {
  border: 1px solid black;
  padding: 8px;
}
th {
  background-color: #000000;
  color: white;
  text-align: left;
}
tr:nth-child(even) {
  background-color: white;
}
tr {
  transition: 0.3s;
}
