table {
  background-color: grey;
  border-collapse: collapse;
  width: 100%;
  font-weight: bolder;
}
th,
td {
  border: 1px solid black;
}
th {
  background-color: #000000;
  color: white;
  text-align: left;
}
