/* body {
  background-color: blue;
}
@media (min-width: 600px) {
  body {
    background-color: red;
  }
} */
@media (max-width: 500px) {
  h2 {
    background-color: red;
    color: blue;
  }
}
@media (min-width: 500px) {
  h2 {
    background-color: blue;
    color: red;
  }
}
