.footer {
  display: flex;
  justify-content: center;
  padding: 3rem;
  background-color: #f1f1f1;
  border-top: 4px solid #ccc;
}

.footer a {
  text-decoration: none;
  transition: 0.7s;
  letter-spacing: 4px;
}

.footer ul {
  list-style-type: none;
  display: flex;
}

.footer ul li {
  padding: 2rem;
}
