.navbar-2 {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #ccc;
  height: 75px;
  align-items: center;
}

.navbar-2 img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
