.navbar {
  display: flex;
  align-items: center;
}
.navbar ul {
  display: flex;
  list-style: none;
}
.navbar ul li a {
  margin-right: 20px;
}
.logo {
  display: flex;
  align-items: center;
}
.logo img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
.linkler {
  display: flex;
}
