/* p {
  background-color: red;
  color: white;
  font-size: 25px;
}
.bir {
  background-color: blue;
  color: white;
  font-size: 25px;
}
.bir,
.üç {
  background-color: green;
  color: white;
  font-size: 25px;
} */
ul li a {
  background-color: aquamarine;
  color: white;
  font-size: 25px;
}
