/* ul li:nth-child(1) {
  color: white;
  background-color: red;
} */
/* 12 */
/* ul li:nth-child(4) {
  color: white;
  background-color: rgb(6, 6, 6);
} */

/* ul li:nth-child(odd) {
  color: white;
  background-color: red;
} */
/* tek sayılar odd */

/* ul li:nth-child(even) {
  color: white;
  background-color: rgb(6, 6, 6);
}/* çift sayılar even */
p:nth-child(2) {
  color: white;
  background-color: red;
}
