/* ul li:nth-child(1) {
  color: white;
  background-color: red;
} */
ul {
  width: 50%;
  list-style-type: none;
  padding: 15px;
  background-color: aqua;
}
ul li:nth-child(4) {
  color: white;
  background-color: rgb(6, 6, 6);
}
