.urun {
  width: 33%;
  border: solid 1px black;
  text-align: center;
}
h4 {
  display: none;
  color: red;
}
.ur {
  position: relative;
}
.ur span {
  position: absolute;
  top: 0;
  right: 0;
  background-color: red;
  color: white;
  padding: 5px;
}
