.urun {
  width: 33%;
  border: solid 1px black;
  text-align: center;
}
h4 {
  display: none;
  color: red;
}
.ur {
  position: relative;
}
.ur img {
  width: 100%;
  height: 100%;
}
.ur span {
  background-color: red;
  color: white;
  padding: 8px;
  font-weight: bolder;
  position: absolute;
  right: 0;
}
.katalog {
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  .katalog {
    flex-direction: column;
  }
  .urun {
    width: 100%;
  }
  h4 {
    display: block;
  }
}
