div {
  background-image: url("desktop-wallpaper-90-mountain-backgrounds-backgrounds-cute-aesthetic-mountains.jpg");
  background-size: 150px;
  background-repeat: no-repeat;
  background-position: center right;
}
