div {
  background-image: url("desktop-wallpaper-90-mountain-backgrounds-backgrounds-cute-aesthetic-mountains.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}
