.avatar {
  width: 175px;
  height: 75px;
  padding: 2rem;
  margin: 2rem;
}
.avatar img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.user {
  display: flex;
  align-items: center;
  width: 75%;
  border: 1px solid #ccc;
}
.avatar {
  margin: 45px;
  text-align: center;
}
.yorumlar {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
