.avatar {
  width: 175px;
  height: 75px;
  padding: 2rem;
  margin: 2rem;
}
.avatar img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.user {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 750px;
  background-image: url(./İmg/tsilkbina.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
