.tarih img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.tarih {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 750px;
  background-image: url(./İmg/tsilkbina.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.tarih p {
  width: 75%;
  font-size: 20px;
  color: white;
  font-weight: bold;
  text-align: center;
  line-height: 20px;
  letter-spacing: 2px;
}
.tarih p::first-letter {
  font-size: 50px;
  color: rgb(252, 0, 0);
}
.tarih h2 {
  color: rgb(252, 0, 0);
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
  padding: 12px;
}
