.td img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.teknik_ekip {
  margin-top: 0.75rem;
  display: flex;
  background-image: url(./İmg/trns2.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 500px;
  align-items: center;
}
.td {
  width: 25%;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 15px 15px 8px rgba(67, 17, 39, 0.5);
  border: 1px solid grey;
  margin: 0 5px;
}

@media (max-width: 768px) {
  .teknik_ekip {
    flex-direction: column;
    height: auto;
  }
  .td {
    width: 75%;
    height: 100%;
    margin: 5px 0;
  }
  .td:hover {
    background-color: rgba(136, 184, 233, 1);
    color: rgb(67, 17, 39);
    padding: 35px;
    transform: scale(1.3);

    transition: 0.3s;
    border-radius: 6px;
  }
}
