a {
  display: block;
  background-color: red;
  width: 100px;

  /* border-radius: 3px; */
  text-align: center;
  text-decoration: none;
  padding: 10px;
  font-weight: bolder;
  font-size: 1.5rem;
  border: 1px solid black;
  color: white;
  border-radius: 6px;
}
div {
  margin-top: 1.5rem;
  margin-left: 1.5rem;
}
a:hover {
  background-color: blue;
}
